*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
}

.home-box{
  max-width: 800px;
  width: 80%;
  margin: auto;
  padding: 0 10px;
}

:root {
  --green: #54b192;
  --green-l: #a4cec0;
  --gray: #3f3d56;
  --smooth: all 0.3s ease-in;
}
/* === Overlay === */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: none;
}

#overlay.show {
  display: initial;
}

/* === Header === */
header {
  position: absolute;
  width: 100%;
}

.navbar {
  display: flex;
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height:4em;
  z-index:999;
}

.navbar__box{
  display: flex;
  align-items: center;
  width: 95%;
}

/* logo */
  .navbar__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: auto;
    order:0;
    align-items: center;
  }

/* menu */
.navbar__links {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background-color: #fff;
  z-index: 5;
  transition: var(--smooth);
  transform: translateY(-100%);
  opacity: 1;
}

@media (min-width: 1025px) {
  .logoMobile__menu {
    display: none;
  }
}

@media (max-width: 1024px) {
.logoMobile__menu {
  padding-top: 1rem;
  list-style: none;
}

.logoMobile__menu a {
  font-size: 1rem;
  text-decoration: none;
  color: #231e1e;
  font-weight: 1000;
  transition: var(--smooth);
}

.logoMobile__menu::after {
  content: "";
  display: block;
  width: 100%; /* Độ dài của dòng kẻ */
  height: 1px; /* Độ dày của dòng kẻ */
  background-color: rgb(64, 63, 63); /* Màu của dòng kẻ */
  margin: 0 auto; /* Căn giữa dòng kẻ */
  margin-top: 1em; /* Khoảng cách từ chữ đến dòng kẻ */
}
}
.navbar__links.navbar__open {
  transform: translateX(0);
  opacity: 1;
  transition: var(--smooth);
}

.navbar__link {
  list-style: none;
  margin: 1.5em;
}

.navbar__link a {
  text-decoration: none;
  font-size: 1rem;
  font-style: bold;
  color: #000000;
  font-weight: 500;
  transition: var(--smooth);
}

.navbar__link a:hover {
  color: #be045b;
  transition: var(--smooth);
}

.navbar button {
  color: #fff; /* Màu chữ */
  padding: 0.4rem 1rem; /* Khoảng đệm trong button */
  font-size: 1rem; /* Cỡ chữ */
  font-style: bold;
  border: none; /* Bỏ viền button */
  border-radius: 10px; /* Bo tròn góc button */
  cursor: pointer; /* Con trỏ chuột dạng tay khi hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hiệu ứng chuyển mượt */
}

.navbar button:hover {
  transform: scale(1.1); /* Tăng kích thước button khi hover */
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.3); /* Tạo hiệu ứng bóng đổ */
}

.navbar__btn {
  background-color: #0b0c0c;
  margin-left: 2em;
  position:relative;
}

@media (max-width: 1024px) {
  .navbar__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
  }
  .navbar__btn::after {
    content: "";
    display: block;
    width: 6rem; /* Độ dài của dòng kẻ */
    height: 1px; /* Độ dày của dòng kẻ */
    background-color: rgb(81, 79, 79); /* Màu của dòng kẻ */
    margin: 0 auto; /* Căn giữa dòng kẻ */
    position: absolute;
    top: -1rem; /* Khoảng cách từ nút lên dòng kẻ */
    left: 50%;
    transform: translateX(-50%); /* Căn giữa theo chiều ngang */
  }
}
/* menu button */
.navbar__icons {
  display: flex;
  justify-content:end;
  align-items: center;
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: var(--smooth);
  z-index: 6;
}

.navbar__icon {
  width: 30px;
  height: 3px;
  background-color: var(--gray);
  border-radius: 100px;
  transition: var(--smooth);
  position: relative;
}

.navbar__icon:before,
.navbar__icon:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--gray);
  border-radius: 100px;
  transition: var(--smooth);
}

.navbar__icon:before {
  transform: translateY(-10px);
}

.navbar__icon:after {
  transform: translateY(10px);
}

/* button animation */
.open .navbar__icon {
  background: transparent;
}

.open .navbar__icon:before {
  transform: rotate(-45deg) translate(0px, 0px);
}
.open .navbar__icon:after {
  transform: rotate(45deg) translate(0px, 0px);
}

@media (min-width: 1025px) {
  .navbar__links {
    position: initial;
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar__link a {
    color: var(--gray);
  }
  .navbar__icons {
    display: none;
  }
}

/* === Home === */

#home {
  background-color:#ECE9E3;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home button {
  color: #fff; /* Màu chữ */
  padding: 0.5rem 1rem; /* Khoảng đệm trong button */
  font-size: 1rem; /* Cỡ chữ */
  border: none; /* Bỏ viền button */
  border-radius: 10px; /* Bo tròn góc button */
  cursor: pointer; /* Con trỏ chuột dạng tay khi hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hiệu ứng chuyển mượt */
}

#home button:hover {
  transform: scale(1.1); /* Tăng kích thước button khi hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Tạo hiệu ứng bóng đổ */
}

.home__heading{
  margin: 0 auto;
  width: 713px;
}

@media (max-width: 1024px) {
  #home {
    position: relative;
    align-items: center;
    justify-content: end;
    overflow-wrap: break-word;
  }

  .home__heading{
    margin: 50px 15px;
    width: 100%;
  }

  .home__heading h1 {
    font-size: 2rem;
    font-family: "Syne", sans-serif;
  }

  .name{
    font-size: 3rem;
  }
}

.wave {
  display: inline-block;
  animation: wave-animation 2s infinite;
  transform-origin: 70% 70%; /* Tạo trục cho hiệu ứng vẫy */
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

#home .home__heading p {
  color:#D34B29;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5rem;
  margin-top: 25px;
  margin-bottom: 30px;
}

#home .home__heading h1 {
  color:#D34B29;
  font-family: "Syne", sans-serif;
}

.name {
  font-weight: bold;
  border-right: 2px solid;
  white-space: normal;
  overflow-wrap: break-word;
  overflow: hidden;
  animation: blink-caret 0.75s step-end infinite;
}

@media (min-width: 1025px) {
  #home .home__heading h1 {
    font-size: 40px;
    white-space: nowrap
  }
  #home .name{
    font-size: 64px;
    white-space: nowrap
  }

}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.linkedin__btn {
  background-color: #E7B345;
  color: #fff;
}

/* === About === */

#about {
  background-color: #F2A7B6;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
  padding-top:4.5em;
  gap:40px;

  h2 {
    background-color: #C75C6F;
    border: none;
    color: #fff;
    padding: 0.1rem 0.7rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 6px;
  }

  }

  .about__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 3.5em;
    gap: 40px;
    flex-wrap: wrap;
  }
  

  .about__box img {
    width: 30em;
    height: auto;
    border-radius: 10px;
  }
  
  /* Định dạng phần text */
  .about__box .text {
    max-width: 45%;
    display: flex;
    flex-direction: column;

    h3{
      font-weight: 600;
      font-size: 2rem;
      color: #fff;
      font-family: "Syne", sans-serif;
      font-style: bold;
      padding-bottom: 20px;
    }

    p{
      font-size: 1rem;
      color: #000000;
      text-align: justify;
      font-weight: 400;
      line-height: 1.5;
      padding-bottom: 15px;
    }
  }

  .about__box .text .list-container{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    li{
      color: #000000;
      font-size: 1rem;
      font-weight: 400;
      padding-bottom: 5px;
    }
  }

  @media (max-width: 1024px) {
    #about {
      background-color: #F2A7B6;
      position: relative;
      padding-top: 40px;
      padding-bottom: 0;
      gap:40px;
    }
    .about__box .text {
    max-width: 100%;

    h3{
      font-size: 2rem;
      padding-bottom: 10px;
    }

    p{
      font-size: 1rem;
      text-align: justify;
      font-weight: 400;
      line-height: 1.5;
      padding-bottom: 10px;
    }
  }

    .about__box {
      flex-direction: column; /* Khi màn hình nhỏ, xếp chồng lên nhau */
      padding-bottom: 2em;
    }
    .about__box .text .list-container{
        flex-direction: column;
        gap: 0px;
    }

    .about__box img {
      width: 100%;
    }
    .about__box .text {
      max-width: 100%;
      padding-bottom: 0;
    }
  }
/* === Skills Section === */

#skills {
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
  padding-top:4.5em;
  gap:20px;

  h2 {
    background-color: #D34B29;
    border: none;
    color: #fff;
    padding: 0.1rem 0.7rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 6px;
  }

  p {
    text-align: center;
    font-size: 2rem;
    font-family: "Syne", sans-serif;
    font-style: bold;
    font-weight: 600;
    color: #000;
    margin-bottom: 50px;
  }
  
}

.skills__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:80;
}

.skill__item {
  margin: 10px;
  width: 12%;
  text-align: center;
}

#skills .skill__item p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  #skills {
    position: relative;
    padding-top: 40px;
    padding-bottom: 0;
    padding: 50px 0;
    gap:40px;
  }

  .skill__item {
    margin: 10px;
    width: 80px;
    text-align: center;
  }
}

/* MKT Project */

#project1 {
  background-color: #E7B345;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  padding-top:4.5em;
  gap:20px;
  padding-bottom: 5em;

  h2 {
    background-color: #ECE9E3;
    border: none;
    color: #000000;
    padding: 0.1rem 0.7rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 6px;
  }

  p {
    text-align: center;
    font-size: 2rem;
    font-family: "Syne", sans-serif;
    font-style: bold;
    font-weight: 600;
    color: #ECE9E3;
  }

}

#project1 .project1__box h3{
  font-family: "Syne", sans-serif;
  font-style: Semibold;
  font-size: 1.5rem; /* Kích thước chữ */
  font-weight: 600; /* Độ in đậm */
  color: #343435; /* Màu chữ */
  margin: 0; /* Không cho phần tử con n��m dư��i nội dung */
}

.project1__box {
  display: grid; /* Sử dụng grid cho bố cục lưới */
  grid-template-columns: repeat(2, 1fr); /* 2 cột ngang */
  row-gap: 30px;
  column-gap: 50px;
  width: 70%; /* Kích thước tối đa của .project__box */
  max-width: 1400px;
  margin: 0px auto; /* Căn giữa trong khung nhìn */
}

.project1__item {
  width: 100%;
  height: auto;
  transition: transform 0.2s ease-in-out; /* Hiệu ứng khi hover */
}

.project1__image {
  width: 100%; /* Đảm bảo ảnh chiếm toàn bộ chiều rộng của phần tử */
  height: 12em; /* Chiều cao của hình ảnh */
  background-color: #d7dbe1; /* Màu placeholder cho hình ảnh */
  margin-bottom: 15px; /* Khoảng cách dưới hình ảnh */
  border-radius: 8px; /* Bo góc cho hình ảnh */
}

.project1__image img {
  width: 100%; /* Đảm bảo ảnh chiếm toàn bộ chiều rộng của phần tử */
  height: 100%; /* Đảm bảo ảnh chiếm toàn bộ chiều cao của phần tử */
  object-fit: cover;
  border-radius: 8px;
}

#project1 .project1__item p {
  color: #444446;
  font-family: "Inter", sans-serif;
  font-size: 1rem; /* Kích thước chữ cho mô tả dự án */
  font-weight: 400; /* Trọng lượng chữ */
  line-height: 1.5; /* Chiều cao dòng */
  margin-top: 5px; /* Khoảng cách phía trên */
  text-align: left; /* Căn trái cho mô tả dự án */
}

@media (max-width: 1024px) {
  #project1 {
    padding: 40px 10px;
    gap:20px;
  }
  .project1__box {
    grid-template-columns: 1fr; /* 1 cột dọc cho màn hình nhỏ */
    width: 100%;
    gap: 20px;
  }
}

.project1__box a {
  text-decoration: none; /* Xóa gạch chân liên kết */
  color: inherit; /* Đảm bảo văn bản giữ màu sắc mặc định */
}

.project1__item:hover {
  transform: translateY(-10px); /* Nâng lên khi hover */
}


/*==Ba project==*/

#project2 {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  padding-top:4.5em;
  gap:20px;

  h2 {
    background-color:#D34B29;
    border: none;
    color: #ffffff;
    padding: 0.1rem 0.7rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 10px;
  }

  p {
    text-align: center;
    font-size: 2rem;
    font-family: "Syne", sans-serif;
    font-style: bold;
    font-weight: 600;
    color:  #D34B29;
    margin-bottom: 50px;
  }
}

.project2__box {
  color: #D34B29;
  display: grid; /* Sử dụng grid cho bố cục lưới */
  grid-template-columns: 1fr; /* 1 cột dọc */
  width: 70%;
  max-width: 1400px;
  margin: 0 auto; /* Căn giữa trong khung nhìn */
  gap:20px
}

.project2__box a {
  text-decoration: none; /* Xóa gạch chân liên kết */
  color: inherit; /* Đảm bảo văn bản giữ màu sắc mặc định */
}

.project2__item {
  display: flex;
  padding-bottom: 0px; /* Khoảng đệm cho nội dung */
  border-bottom: 2px solid #ccc;
}

#project2 .project2__item p {
  font-size: 1rem; /* Kích thước chữ cho mô tả dự án */
  font-family: "Inter", sans-serif;
  font-weight: 300; /* Trọng lượng chữ */
  line-height: 1.5; /* Chiều cao dòng */
  margin-top: 10px; /* Khoảng cách phía trên */
  text-align: left; /* Căn trái cho mô tả dự án */
  margin-bottom: 20px;
}

.project2__content{
  width: 100%;
}

#project2 .project2__item h3 {
  display: flex;
  font-size: 1.5rem;
  font-family: "Syne", sans-serif;
  color: #D34B29;
  font-weight: 600;
  font-style: bold;
  position: relative;
  padding-bottom: 10px;
}

.project2__link {
  display: inline-block;
  text-decoration: none;
  color: #d7dbe1;
  position: absolute;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  right: 0;
}

.project2__link:hover{
  transform: scale(1.3);
}

.project2__tags {
  font-size: 0.8rem;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  #project2 {
    padding: 40px 10px;
    gap:20px;
  }
  .project2__item {
    flex-direction: column;
  }

  .project2__box {
    width: 100%;
  }
  .project2__content{
    height: auto;
    width: 100%;
  }

  #project2 p {
    font-size: 2rem;
  }

  #project2 .project2__item h3 {
    font-size: 1.2rem;
    padding-bottom: 0px;
    display: block;
  }
  .project2__link {
      padding-top:10px;
      display:block;
      position: absolute;
      right: auto;
      left: 0;
    }

  #project2 .project2__item p {
    font-size: 1rem;
    margin-bottom: 10px;
    padding-top:40px
  }
}

/*--creative works--*/

#project4 {
  background-color: #ECE9E3;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  padding-top:4.5em;
  gap:20px;

  h2 {
    background-color:#E7B345;
    border: none;
    color: #fff;
    padding: 0.1rem 0.7rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 6px;
  }

  p {
    text-align: center;
    font-size: 2rem;
    font-family: "Syne", sans-serif;
    font-style: bold;
    font-weight: 600;
    color:  #E7B345;
    margin-bottom: 50px;
  }
}

@media (min-width: 1025px) {
  .masonry {
    display: flex;
    justify-content: center;
    width: 70%;
    max-width: 1400px;
    height: auto;
    margin: auto;
    gap: 10px;
  }

  .masonry-item{
    position: relative;
    border-radius: 10px;
  }

  .masonry-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
  }

  .s1{
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử theo chiều dọc */
    gap: 10px;
    width: 75%;
    height: 100%;
  }
  .s2{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    gap: 10px;
  }
  .s3{
    display: flex;
    width: 100%;
    height: 30%;
    gap: 10px;
  }
  .s4{
    display: flex;
    width: 100%;
    height: 70%;
    gap: 10px;
  }
  .s5{
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    gap: 10px;
  }
  .s6{
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    height: 100%;
    gap: 10px;
  }
  .s7{
    display: flex;
    width: 100%;
    height: 20%;
    height: auto;
    gap: 10px;
  }
  .s8{
    width: 100%;
    height: 33%;
  }
  .s9{
    display: flex;
    width: 100%;
    height: 47%;
    gap: 10px;
  }
  .s10{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 10px;
  }
  .s11{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 10px;
  }

  .left1{
    width: 65%;
    height: auto;
  }
  .mid1{
    width: 35%;
    height: auto;
  }

  .overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    padding-left: 10px;
    align-items:end;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 10px;
  }

  #project4 .masonry h3{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 5px;
  }

  #project4 .masonry p{
    color:#fff;
    font-size:0.6rem;
    text-align:left;
    font-style: bold;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .masonry-item:hover .overlay2 {
    opacity: 1;
  }

  #loadMore {
    display: none;
  }
}

@media (max-width: 1024px) {
  #project4 {
    position: relative;
    padding: 40px 10px;
    background-color: #ECE9E3;
    overflow: auto;
  }

  #project4 .masonry h3{
    color: #D34B29;
    font-size: 20px;
  }
  
  #project4 .masonry-item a{
    color: #D34B29;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 10px;
  }

  #project4 .masonry-item p{
    color:#D34B29;
    font-size:14px;
    text-align:left;
    font-style: bold;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  #project4 p {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  #project4 .masonry p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 30px;
  }
  
  .masonry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: auto;
  }
  
  .masonry-item {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
  }
  
  .masonry-item img {
    background-color: #d7dbe1;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  #loadMore {
    display: block;
    margin: 20px auto;
    padding: 0px 0px;
    color:#D34B29;
    background-color: #ECE9E3;
    border: none;
    cursor: pointer;
    scale:2.6;
    transition: scale 0.3s ease;
    animation: blink 3s infinite ease-in-out;
  }

  #loadMore:hover{
    scale: 4.5;
    transition: scale 0.3s ease;
  }
}

@keyframes blink {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0.1;
  }
}

/*---certification---*/

#certification {

  background-color: #C75C6F;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  padding-top:4.5em;
  gap:20px;

  h2 {
    background-color:#F2A7B6;
    border: none;
    color: #000;
    padding: 0.1rem 0.7rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 6px;
  }

  p {
    text-align: center;
    font-size: 2rem;
    font-family: "Syne", sans-serif;
    font-style: bold;
    font-weight: 600;
    color:  #E7B345;
    margin-bottom: 50px;
  }
}


/*pdf-box*/
.pdf-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.hidden {
  display: none;
}

.pdf-content {
  position: relative;
  background: white;
  padding: 15px;
  border-radius: 5px;
  width: 70%;
  overflow: auto;
  margin: auto;
}
.close-btn {
  position: absolute;
  top: 0px;
  right: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: #dd0101;
}
iframe {
  width: 100%;
  height: 80vh;
}

.certificate-container {
  align-items: center;
  justify-items: center;
  width: 70%;
  max-width: 1400px;
  height: auto;
}

.certificate-box{
  width: 100%;
  padding: 10px;
  line-height: 1;
  margin: 0 auto;
  margin-left: 0px;
  border-bottom:1px solid #ECE9E3;
}

#certification .certificate-box h3{
  display:flex;
  color: #ECE9E3;
  position: relative;
  font-family: "Syne", sans-serif;
  font-style: bold;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 20px;
}

.pdf-description {
  display: inline-block;
  position: absolute;
  text-decoration: none;
  color: #ECE9E3;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  right:0;
}

.certificate-box h4{
  color: #ECE9E3;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: left;
  padding-top:10px;
}

#certification .certificate-box h5 {
  color: #ECE9E3;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: left;
  padding-bottom: 20px;
}

@media (max-width: 1024px){
  #certification {
    padding: 40px 10px;
    gap:10px;
  }
  #certification .certificate-box h3{
    display:block;
  }

  #certification .certificate-box h3{
    margin-bottom: 35px;
  }

  .pdf-content {
    width: 90%;
    }

  .certificate-container {
    align-items: center;
    justify-items: center;
    width: 100%;
  }

  .pdf-description{
    padding-top:10px;
    display:block;
    position: absolute;
    right: auto;
    left: 0;
  }
}



#certification .certificate-box i:hover {
  transform: scale(1.3);
}



#activities {
  position: relative; /* Vị trí tương đối cho phần tử chứa */
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  background-color: #fff; /* Màu nền cho phần dự án */
  padding:60px 0;
  padding-top: 4.5em;
  justify-content: center;

  h2 {
    position: absolute;
    background-color: #F2A7B6;
    border: none;
    color: #fff;
    padding: 2px 12px;
    margin-top: 18px;
    display: block;
    font-size: 13px;
    font-weight: 500;
    border-radius: 6px;
  }
}

.activities-container{
  display: flex;
  width: 80%;
  max-width: 1400px;
  gap:10px;
  height: auto;
  align-items:center;
  justify-content: center;
}

.slider {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.intro {
  width: 50%;
  height: 18em;
  margin-bottom: 5em;
}

.introhaha{
  display: inline-block;
  color: #E7B345;
  font-family: "Syne", sans-serif;
  font-style: bold;
  font-weight: 600;
  font-size: 2rem;
}

.introhuhu{
  text-align: justify;
  display: inline-block;
  color: #000000;
  font-family: "Syne", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  padding-top:20px;
  line-height: 1.5;
}

.slide-track-wrapper {
  overflow: hidden;
  width: 100%;
}

.slide-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  flex: 0 0 46%;
  border-radius: 10px;
  margin: 2% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.card img{
  border-radius: 10px;
}

.ahahahaha{
  width:100%;
  height: auto;
}

.slide-controls{
  display:flex;
  padding-top:10px
}

.arrow {
  display:flex;
  padding:0 50px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  #activities h2 {
    position: absolute;
    background-color: #F2A7B6;
    border: none;
    color: #fff;
    padding: 2px 12px;
    margin-top: 60px;
  }
  .activities-container {
    display: flex;
    flex-direction: column; /* Chuyển các phần tử thành một cột */
    width: 100%; /* Chiếm toàn bộ chiều rộng */
    margin-top:20px;
    height: auto;
    padding: 10px;
    gap: 6px; /* Khoảng cách giữa các phần tử con */
}

  .slider {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%; /* Chiếm toàn bộ chiều rộng của container */
      height: 100%;
      border-radius: 8px;
  }

  .intro {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      text-align: center;
      justify-content: center;
      align-items: center;
  }

  .card {
    flex: 0 0 96%;
    border-radius: 10px;
    margin: 2% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }


  .introhaha{
    order:2;
    font-size: 24px;
  }
  .introhuhu{
    order:3;
    font-size: 16px;
  }
  
  .intro h2{
    order:1;
    font-size: 24px;
    top:20px
  }
  
}

/*--footer--*/

footer {
  background-color: #D34B29;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  padding-top:4.5em;
  gap:20px;

  h2 {
    background-color:#ECE9E3;
    border: none;
    color: #4b4b4b;
    padding: 0.1rem 0.7rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 6px;
  }

  p {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color:  #fff;
    margin-bottom: 20px;
  }
}

.contact__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .contact__box p{
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 500;
}

@media(max-width: 1024px){
  footer .contact__box p{
    font-size: 14px;
  }
}

.copy-icon {
  cursor: pointer;
  color: #ffffff;
  a{
    text-decoration: none;
  }
}

.contact__box svg{
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

.contact__box svg:hover,
.copy-icon:hover {
  transform: scale(1.2);
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
